body{
    font-family: 'Baloo Bhai 2', cursive;
}
header{
    background-color: cornflowerblue;
    /* height: 264px; */
}
.header1{
    color: #2739a0;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 50px;
    font-weight: bolder;
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    /* height: 84px; */
    padding: 20px 10px;
    text-align: right;
}
#header-img {
    /* width: 30%; */
    display: inline block;
}
#header1-1{
    /* width: 70%; */
    display:inline-block;
    position: relative;
    padding-left: 68px;
    padding-top: 21px;
    /* top: -16px;
    right: 152px; */
}
#header1-2{
        /* position: relative; */
        font-size: 15px;
        /* right: 281px; */
        display: inline-block;
        font-size: 18px;
        padding-top: 55px;
        padding-left: 11px;
}
#span, #span2{
    color:rgb(37, 145, 69);
    cursor: pointer;
}
/* span{
    color: rgb(37, 145, 69);
    cursor: pointer;
} */
.header1 img{
    display: inline-block;
    clear: both;
    position: absolute;
    /* left: 730px; */
}
#span{
    display: inline-block;
}
.header2{
    display: flex;
    flex-wrap: wrap;
    color: chartreuse;
    background-color: rgb(236, 40, 40);
    /* height: 100px; */
    box-sizing: border-box;
}
.header2 ul{
    display: inline-block;
    list-style: none;
    clear: both;
}
.header2 li{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    border: 1.5px solid rgb(231, 228, 228);
    border-radius: 5px;
    margin: 5px;
    margin-right: 37px;
}
.header2 ul li a{
    color: cornsilk;
    text-decoration: none;
}
.header2 ul li a:hover, .navbar ul li a:active{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.account{
    display: inline-block;
    /* text-align: right; */
    /* position:relative;
    bottom: -10px;
    left: 470px;
    height: 40px; */
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

#button1, #button2{
    background-color: greenyellow;
    border-radius: 15px;
    margin: 5px;
}
#button1:hover, #button2:hover{
    background-color: rgb(146, 219, 35);
}
#button1 a, #button2 a{
    text-decoration: none;
    font-size: 15px;
    color: grey;
    font-family: 'Baloo Bhai 2', cursive;

}
#button1 a:hover, #button2 a:hover{
    color: black;
    font-weight: bold;   
}

/* Main body
.container{
    /* height: 500px;} */
    /* Rahul bro edit from here */
 */
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.front
{
    /* height: 420px; */
    /* width: 100%; */
    background-image: url(https://media.istockphoto.com/photos/coronavirus-virus-outbreak-picture-id1206774789?k=6&m=1206774789&s=612x612&w=0&h=_xk14oHoVGY51P6gUalj99f42zQ5O9L1FaDsM2v_-L4=);
    /* background:rgb(26, 15, 15); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info
{
    display: inline-block;
    color: white;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
}
.about_info
{
    color: white;
    font-size: 20px;
}

.front_button
{
    font-size: 25px;
    border-radius: 30px;
    background-color: red;
    color: white;
    padding:10px 30px ;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-top: 30px;
}

.mid
{  
    font-size: 25px;
    color: grey;
    padding: 20px 20px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main_mid
{
    /* height: 1000px; */
    /* width: 100%; */
    background-image: url(https://media.istockphoto.com/vectors/abstract-geometric-white-and-gray-color-background-vector-vector-id1149285315?b=1&k=6&m=1149285315&s=612x612&w=0&h=KSgo6sdHQomijR4CecdVWvmZrFXhKVpt4VeIFarOrNc=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text
{
    text-align: center;
    font-size: 50px;
    color:grey;
    padding-top: 30px;
    font-family:Lato,Arial,sans-serif; 
}
.lrmid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.left_mid {
    margin: 10px;
    padding: 20px;
    /* margin-left: px; */
    width: 45%;
    /* height: 650px; */
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
}

.donate_logo {
    /* padding-left: 82px; */
    height: 150px;
    padding-top: 50px;
}

.left_info
{
    /* margin: auto; */
    color: red;
    /* padding-left: 10px; */
    font-size: 25px;
}

.right_mid
{
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    /* margin-left: 100px; */
    width: 45%;
    /* height: 650px; */
    display: inline-block;
    background-color: white;
    
}

.need_logo 
{
    /* padding-left: 85px; */
    height: 150px;
    padding-top: 50px;
}

.right_info
{
    color: red;
    /* padding-left: 10px; */
    font-size: 25px;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #f41e1e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 90%;
  transition: all 0.5s;
  cursor: pointer;
  /* margin-left: 37px; */
  /* margin-top: 16px; */
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.buttom_part
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height:1380px ; */
    background-color: rgb(233, 239, 240);
}

.buttom_image
{

    height:300px ;
    margin: auto;
    /* margin-right:50px; */
    width:95% ;
    /* margin-top:10px;
    margin-left: 30px; */
}
.covidinf{
    height: 100%;
    box-sizing: border-box;
    /* height: fit-content; */
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    min-height: 600px;
}
/* .quote
{
    padding-bottom: 10px;
    margin-bottom: 10px;
    height:660px;
    margin: 10px;
    margin-top: 15px;
    display: inline-block;
    background-color: #3544af;;
    border:  2px solid rgb(2, 2, 15) ;
    /* margin-left: 30px; */
    /* height: 500px; */
    /* width: 400px; */
    /* width: 35%; */
    /* float: left; */
/* } */

.quote p
{
    /* margin: auto; */
    text-align: center;
    padding-top: 30px;
   /* padding-left: 20px; */
   color: white;
   font-size: 40px;
   font-weight:200;
} */
.corona_info
{
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* height: 680px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    /* margin-left: 30px; */
}

.info_heading
{
    width: 100%;
    margin-top: 10px;
    background-color: red;
    /* height: 35px; */
    border-radius: 8px;
    
}

.info_heading marquee
{
    color: white;
    font-size: 25px;
}
.coronadetails{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}
.corona_content
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    /* float: left; */
}
.block1
{
    margin-top: 25px;
    width: 90%;
     /* width:84%; */
     background-color:rgb(165, 201, 253) ;
     /* height: 80px; */
     border-radius: 10px;
    
}
.block1 p
{
    /* padding-top: 10px; */
    padding: 4px 5px 4px 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.block2
{
    width: 90%;
    margin-top: 25px;
     /* width:84%; */
     background-color:rgb(186, 241, 139);
     /* height: 80px; */
     border-radius: 10px;
    
}
.block2 p
{
    padding: 4px 14px 4px 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}


.block3
{
    margin-top: 25px;
     width:90%;
     background-color:rgb(255, 155, 155) ;
     /* height: 80px; */
     border-radius: 10px;
    
}
.block3 p
{
    padding: 4px 5px 4px 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.graph_update
{
    display: inline-block;
    margin-top: 45px;
}

.graph_update img
{
    /* flex-shrink: 0.001; */
    width: 97%;
    /* width: 610px; */
    /* height: 290px; */
    border-radius: 10px;
}

.last_corona_info
{
    /* height: 165px; */
    margin-top: 40px;
    margin-bottom: 70px;
    /* height: 80px; */
    background-color:rgb(58, 135, 165) ;
    border-radius: 14px;
    box-sizing: border-box;
}

.last_corona_info p
{
    padding-top: 5px;
    color: white;
    text-align: center;
    font-size: 40px;
}

.next_homepage
{
    height: 150px;
    background-color: lightcyan;
}

.next_homepage button{
    margin-left:500px ;
    width: 400px;
    margin-top: 40px;
}
/* footer properties */
footer{
    background-color: rgb(71, 63, 63);
    color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
.footer-left {
    /* display: inline-block; */
    padding: 5px 10px;
    cursor: pointer;
}
#name {
    font-size: 60px;
}
#quotes{
    font-family: 'Viaoda Libre', cursive;
    font-size: xx-large;
}
.footer-middle{
    /* width: 600px; */
    display: flex;
    font-size: larger;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 30px;
}
.footer-middle a{
    text-decoration: none;
    font-weight: bold;
    color: beige;
}
.footer-middle a:hover{
    text-decoration: underline;
    font-weight: bolder;
    color: rgb(223, 223, 197);
}
.footer-right{
    cursor: pointer;
padding: 5px 10px;
}
#contact{
    font-weight: bolder;
    font-size: xx-large;
}
.fa {
    padding: 5px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa:hover {
    opacity: 0.8;
}
.fa-facebook {
    background: #8ba9eb;
    color: white;
  }
  
  .fa-twitter {
    background: #77bcf1;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-youtube {
    background: #dd4848;
    color: white;
  }
  
  .fa-instagram {
    background: #e63cc1;
    color: white;
  }