body {
    font-family: 'Baloo Bhai 2', cursive;
}

header {
    
    background-color: cornflowerblue;
    /* height: 264px; */
}

.header1 {
    color: #2739a0;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 50px;
    font-weight: bolder;
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    /* height: 84px; */
    padding: 20px 10px;
    text-align: right;
}

#header-img {
    /* width: 30%; */
    display: inline block;
}

#header1-1 {
    /* width: 70%; */
    display: inline-block;
    position: relative;
    padding-left: 68px;
    padding-top: 21px;
    /* top: -16px;
right: 152px; */
}

#header1-2 {
    /* position: relative; */
    font-size: 15px;
    /* right: 281px; */
    display: inline-block;
    font-size: 18px;
    padding-top: 55px;
    padding-left: 11px;
}

#span,
#span2 {
    color: rgb(37, 145, 69);
    cursor: pointer;
}

/* span{
color: rgb(37, 145, 69);
cursor: pointer;
} */
.header1 img {
    display: inline-block;
    clear: both;
    position: absolute;
    /* left: 730px; */
}

#span {
    display: inline-block;
}

.header2 {
    display: flex;
    flex-wrap: wrap;
    color: chartreuse;
    background-color: red;
    /* height: 100px; */
    box-sizing: border-box;
}

.header2 ul {
    display: inline-block;
    list-style: none;
    clear: both;
}

.header2 li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    border: 1.5px solid rgb(231, 228, 228);
    border-radius: 5px;
    margin: 5px;
    margin-right: 37px;
}

.header2 ul li a {
    color: cornsilk;
    text-decoration: none;
}

.header2 ul li a:hover,
.navbar ul li a:active {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.account {
    display: inline-block;
    /* text-align: right; */
    /* position:relative;
bottom: -10px;
left: 470px;
height: 40px; */
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

#button1,
#button2 {
    background-color: greenyellow;
    border-radius: 15px;
    margin: 5px;
}

#button1:hover,
#button2:hover {
    background-color: rgb(146, 219, 35);
}

#button1 a,
#button2 a {
    text-decoration: none;
    font-size: 15px;
    color: grey;
    font-family: 'Baloo Bhai 2', cursive;

}

#button1 a:hover,
#button2 a:hover {
    color: black;
    font-weight: bold;
}

.information{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    list-style-position: inside;
}
.symptoms{
    background: cornsilk;
    color: firebrick;
}
.symptoms-head{
    color: rgb(175, 10, 10);
    font-size: 40px;
    font-weight: bolder;
}
.symptom-info{
    color: rgb(170, 12, 12);
    font-size: 24px;
}
.symptoms-list{
    font-size: 20px;
}
.symptoms-list ul{
    font-size: 18px;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.preventions{
    background: rgb(249, 255, 246);
    color:rgb(68, 187, 31);
}
.prevention-head{
    color: rgb(75, 190, 21);
    font-size: 40px;
    font-weight: bolder;
}
.prevention-info{
    color: rgb(152, 209, 47);
    font-size: 24px;
}
.prevention-list{
    font-size: 20px;
}
.prevention-list ul{
    font-size: 18px;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.treatments{
    background: rgb(239, 249, 253);
    color:rgb(16, 116, 163);
}
.treatment-head{
    color: rgb(38, 109, 202);
    font-size: 40px;
    font-weight: bolder;
}
.treatment-info{
    color: rgb(56, 146, 219);
    font-size: 24px;
}
.treatment-list{
    font-size: 20px;
}
.treatment-list ul{
    font-size: 18px;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    background-color: rgb(71, 63, 63);
    color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.footer-left {
    /* display: inline-block; */
    padding: 5px 10px;
    cursor: pointer;
}

#name {
    font-size: 60px;
}

#quotes {
    font-family: 'Viaoda Libre', cursive;
    font-size: xx-large;
}

.footer-middle {
    /* width: 600px; */
    display: flex;
    font-size: larger;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 30px;
}

.footer-middle a {
    text-decoration: none;
    font-weight: bold;
    color: beige;
}

.footer-middle a:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: rgb(223, 223, 197);
}

.footer-right {
    cursor: pointer;
    padding: 5px 10px;
}

#contact {
    font-weight: bolder;
    font-size: xx-large;
}

.fa {
    padding: 5px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.8;
}

.fa-facebook {
    background: #8ba9eb;
    color: white;
}

.fa-twitter {
    background: #77bcf1;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #dd4848;
    color: white;
}

.fa-instagram {
    background: #e63cc1;
    color: white;
}